<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
    
    <!---
    <style type="text/css" media="only screen and (max-device-width: 360px) and (orientation: protrait)">
        body { font-size: 200%; }
    </style>
    
    <style type="text/css" media="only screen and (min-device-width: 361px) and (max-device-width: 720px) and (orientation: protrait)">
        body { font-size: 160%; }
    </style>
    --->
</head>
