<table class="table table-striped">
	<thead>
		<tr>
			<th><span class="sort" data-sort="name">Candidate</span></th>
			<th><span class="sort" data-sort="city">Website</span></th>
			<th><span class="sort" data-sort="state">State</span></th>
			<th><span class="sort" data-sort="district">District</span></th>
			<th><span class="sort" data-sort="status">Status</span></th>
			<th><span class="sort" data-sort="status">Twitter</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for candidate in site.candidates %}
		<tr>
			<td class="name">{{ candidate.name }}</td>
			<td class="website"><a href="{{ candidate.website }}">{{ candidate.website }}</a></td>
			<td class="state">{{ candidate.state }}</td>
			<td class="district">{{ candidate.district }}</td>
			<td class="status">{{ candidate.status }}</td>
			<td class="twitter"><a href="https://twitter.com/{{ candidate.twitter }}" target="_blank">@{{ candidate.twitter }}</a></td>
			<td class="more"><a href="{{ candidate.url }}">More Info</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
